
body {
    position: relative; 
}
#Reviews 
{
margin-top: 50px;
padding: top 500px;
z-index: 1;
opacity:0.8;
color: #fff;
}
#section4 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #193040;
}
.container {
    padding: 80px 120px;
}

.carousel-inner img {
    width: 100%;
    margin-top: 50px;
}
.carousel-caption h3 {
    color: #fff !important;
  }
*{
    /* scroll smooth */
    scroll-behavior: smooth;

}
.firstcenter{
    margin-top: 300px;
}
.secondcenter{
    margin-top: 50px;
    margin-bottom: 300px;
}